.header {
  background-color: darkgray;
  color: white;
  text-align: center;
  padding: 40px 0;
}

.header h1 {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
}

.header p {
  font-size: 20px;
  margin-top: 10px;
}



.navbar {
  display: flex;
  background-color: gray;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 20px;
  font-weight: bold;
}

.navbar li {
  position: relative;
}

.navbar a {
  display: block;
  padding: 15px 25px;
  text-decoration: none;
  color: white;
}

.navbar a:hover {
  background-color: #1a252f;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2c3e50;
  min-width: 220px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-content li a {
  padding: 15px 20px;
  font-size: 17px;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.content {
  padding: 30px;
  font-size: 18px;
}

.content a {
  color: #0b63ce;
  font-weight: bold;
}

